.container 
{
    border-radius: 5px;
    padding: 20px;
}

.questions
{
    margin-top: 100px;
    width: 450px;
}

input[type=text], select, textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
  
label
{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bolder;

}
  
input[type=submit]
 {
    background-color: #FF690C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.col-25 
{
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
  .col-75 
{
    float: left;
    width: 75%;
    margin-top: 6px;
}
 
  .row:after 
{
    content: "";
    display: table;
    clear: both;
}


@media only screen and (max-width: 600px) 
{
    .questions {
        float: none;
        width: 100%
    }    
}