.container 
{
    border-radius: 5px;
    padding: 20px;
}

.questions
{
    margin-top: 100px;
    width: 450px;
}

input[type=text], select, textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
  
label
{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bolder;

}
  
input[type=submit]
 {
    background-color: #FF690C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
 
  .row:after 
{
    content: "";
    display: table;
    clear: both;
}
.meetup_details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 600px;
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	}
.meetup-div{
	margin-top:20px;
}
.quest_btn{
	display: flex;
	justify-content:flex-end;
}

.quest_btn button{
	height: 40px;
    background-color: #FF690C;
    margin-bottom: 5px;
    width: 197px;
    margin-left: 47px;
    border: 1px solid #FF690C;
    font-size:16px;
}

.single-meetup-layout{
	display: flex;
	justify-content: center;
}

.single-meetup-layout .content{
	width: 45%;
	/* background: red; */
}
/*  */
.meetup{
	display: flex;
	justify-content: center;
}
.meetup-image{
	width: 150px;
	height:  150px;
}

@media only screen and (max-width: 600px) 
{
    .questions {
        float: none;
        width: 100%
    }    
}