
.form-card
{
    max-width: 540px;
    margin: auto;
    height: 300px;
    border: 1px solid #e4e6e8;
    background: #FFF;
    box-shadow: 2px 2px 2px #e4e6e8;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-top: 10%;
}

.form-card-header 
{
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px; 
}

a{
    text-decoration: none;
    color: #fff;
}

.form-card-meetup
{
    max-width: 540px;
    margin: auto;
    height: 550px;
    border: 1px solid #e4e6e8;
    background: #FFF;
    box-shadow: 2px 2px 2px #e4e6e8;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-top: 10%;
}

textarea {
    resize: none;
    width: 100%;
    border: 1px solid #e4e6e8;
    outline: none;
}

textarea::-webkit-input-placeholder {
    font-size: 18px;
}

select
{
    width: 100%;
    font-size: 100%;
    margin-bottom: 13px;
    height: 35px;
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    cursor: auto;
    outline: none;
}



