@import url('https://fonts.googleapis.com/css?family=Lato');

form
{
    padding: 30px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.form-card
{
    margin-bottom: 30px;
}

.label
{
    display: block;
    margin: 5px;
}

input[type=text], input[type=email], input[type=date], input[type=select], input[type=password] 
{
    width: 100%;
    line-height: 1.5;
    font-size: 100%;
    padding: 11px;
    margin-bottom: 13px;
    height: 35px;
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    cursor: auto;
    outline: none;
}

.form-card{
    max-width: 540px;
    margin: auto;
    height: auto;
    border: 1px solid #e4e6e8;
    background: #FFF;
    box-shadow: 2px 2px 2px #e4e6e8;
    border-radius: 5px;
    margin-bottom: 70px;
    margin-top: 10%;
}

.form-card-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px; 
}

.col-25
 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 
{
    float: left;
    width: 75%;
    margin-top: 6px;
}

#login 
{
    margin-top: 7%;
    text-align: center;
}

a:link
{
    text-decoration: none;
}
