@import url('https://fonts.googleapis.com/css?family=Lato');
html,
body
{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #fdfdff;
    line-height: 2em;
}
*
{
    margin: 0px;
    box-sizing: border-box;
}

.container{
    min-height: 100%;
    position: relative;
}

.btn{
    width: 100%;
    line-height: 1.5;
    background-color: #FF690C;
    color: white;
    font-size: 18px;
    height: 35px;
    border: 1px solid #FF690C;
    border-radius: 5px;
    cursor: pointer;
}

.banner
{
    background-image: url(../images/event7.jpg);
    background-size: cover;
    background-position: right 25px top;
    opacity: 0.9;
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner2
{
    background: #007bff;
    height: 130px;
    line-height: 1em;
    padding: 1em;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h1.banner2
{
    font-size: 2em;
}

.flex1
{
    text-align: center;
    line-height: 1.2em;
}

h1.flex1
{
    font-size: 3.7em;
    font-weight: bolder;
}

h2.flex1
{
    font-size: 1.7em;
}

ul 
{
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(0,0,0,0.80);
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    list-style-type: none;
}

li a 
{
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin: 5px 15px;
    text-decoration: none;
}


li:nth-child(1)
{
    margin-right: auto;
    font-size: 30px;
}

.flex2
{
    height: 40px;
    background-color: #FF690C;
    margin-bottom: 5px;
    width: 197px;
    margin-left: 47px;
    border: 1px solid #FF690C;
    font-size:18px;
    border-radius: 3px;
}

.flex2 a
{
    text-decoration: none;
    color: #fff;
}

.main
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 8em 4em 6em 4em;
}

.main1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    border: 1px solid black;
}

img
{
    width: 500px;
    height: 300px;
    margin: 5px 25px 0 25px;
    border-radius: 7px;
}

section
{
    text-align: center;
    margin-bottom: 2em;
}

.section a
{
        text-decoration: none;
}

section a:link
{
    font-size: 1.3em;
    color: #007bff;
    border-bottom: 2px solid #FF690C;
}

a
{   
    color: #007bff;
}

footer
{
    background-color: rgba(0,0,0,0.95);
    color: #fff;
    min-height: 60px;
    width: 100%;
    text-align:center;
    position: relative;
    bottom:0;
    left:0;
}
body:before 
{
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}
main
{
    overflow: auto;
    margin-bottom: 180px;
}