
.container
{
    min-height: 100vh;
}
.aside 
{
    margin: 0;
    padding: 10px;
    width: 200px;
    background-color: rgba(0,0,0,0.80);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .aside .items 
  {
    display: block;
    color: #fff;
    border: 2px solid  #FF690C;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 10px;
    text-decoration: none;
  }

.content
{
    margin-left: 200px;
    padding: 1px 16px;
    height: 381px;    
}

.admin-nav h2
{
    color: #fff;
    margin: 10px;
}

.admin-nav a
{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin: 15px;
    padding: 10px;
    /* border: 1px solid black; */
    display: block;
}

.admin-nav a:hover
{
    background: #FF690C;
}
